{{page-title (or this.tab.label "Extension")}}

<div class="mx-auto w-full max-w-7xl p-4 md:p-6">
    {{#if this.tab.component}}
        <LazyEngineComponent @component={{this.tab.component}} as |ExtensionTabComponent|>
            <ExtensionTabComponent @organization={{this.organization}} @context={{this.context}} />
        </LazyEngineComponent>
    {{else}}
        <section class="rounded-md border bg-white p-4 text-sm text-gray-500 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400">
            This admin extension tab is unavailable.
        </section>
    {{/if}}
</div>
